#uno{
background-color: aqua;
width: 70%;
}
#dos{background-color: blueviolet;
width: 35%;} 
#tres{background-color: violet;
    width: 35%;
position:absolute 324 ;}
.xd{border: solid;
border-radius: 10px;}
.xd1{border: solid;
border-radius: 10px;}

video{ border: solid;
border-radius: 10px;}